body {
  color: #333333;
  font-family: Arial, sans-serif;
}

ul {
  border: 1px solid #cccccc;
}

li {
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

button {
  color: #ffffff;
  background-color: #3399ff;
  border: none;
  padding: 10px;
  font-size: 16px;
}
